<div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h2>会員編集</h2>
    <%= form_with model: @customer, local: true do |f| %>
      <div class="form-group">
        <%= f.label :ニックネーム %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
     <div class="form-group">
        <%= attachment_image_tag @customer, :image, :fill, 60, 60, fallback: "no_image.jpg", size: "200x200"%>
        <%= f.attachment_field :image, class: "form-control-file image" %>
      </div>
      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: "form-control email" %>
      </div>
      <div class="form-group">
        <%= f.label :プロフィール %>
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>