<h2>ずぼら仲間</h2>
<%#if @recipes != nil %>
<div class="row mt-5">
  <% @customers.each do |customer| %>
    <div class="card-group mb-3 col-3">
      <div class="card">
        <%= attachment_image_tag customer, :image, fallback: "no_image.jpg",format: 'no_image.jpg', size: "100x200", class: "bd-placeholder-img card-img-top" %>
        <div class="card-body">
          <h5 class="card-title ml-2">
            <%= customer.name %>
          </h5>
          <div class="text-center mb-2">
            <%= render '/public/customers/info', customer: customer %>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item follow">
              <%= link_to "フォロワー: #{customer.followers.count}", customer_followers_path(customer.id) %>
            </li>
            <li class="list-group-item follow">
              <%= link_to "フォロー: #{customer.followings.count}", customer_followings_path(customer.id) %>
            </li>
            <li class="list-group-item follow">
              <%= link_to "レシピ数: #{customer.recipes.count}", recipelist_customer_path(customer.id) %>
            </li>
          </ul>
          <p class="card-text">
            <span class="badge badge-pill badge-info mb-2">Introduction</span><br>
            <%= customer.introduction %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%# end %>