<div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>新規登録</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "customers/shared/error_messages", resource: resource %>

        <div class="form-group mt-3">
          <%= f.label :ニックネーム %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control name" %>
        </div>

        <div class="form-group">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control email" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control password" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control password" %>
        </div>

        <div class="form-group">
          <%= f.submit "新規登録",class: 'btn btn-secondary' %>
        </div>
      <% end %>

    <div class="form-group row">
      <h5 class: " col-sm-3 " >すでに登録済みの方は</h5>
      <p class="col-sm-9">　<%= link_to "こちら",customer_session_path, class: "btn btn-outline-info" %>  　からログインしてください。</p>
    </div>
  </div>
</div>