
<h1>レシピ編集（管理者）</h1>
<!--url: admin_recipe_path(@recipe.id)とすることで遷移先が変わる、デフォルトはpublic-->
<%= form_with model: @recipe,url: admin_recipe_path(@recipe.id), local: true do |f| %>

<div class="form-inline row mb-3 text-right">
  <%= f.label :料理名 %>
  <%= f.text_field :name, autofocus: true %>
</div>
<div class="form-inline row mb-3 text-right">
  <%= f.label :image, "画像" %>
  <%= f.attachment_field :image %>
</div>
<div class="form-inline row mb-3 text-right">
  <%= f.label :材料 %>
  <%= f.text_field :ingredient, autofocus: true %>
</div>
<div class="form-inline row mb-3 text-right">
  <%= f.label :作り方 %>
  <%= f.text_field :process, autofocus: true %>
</div> 
 <%= f.submit "編集内容を保存" %>

<% end %>
