<% if admin_signed_in? %>
<h2>レシピ（管理者）</h2>

<div class = "row mt-5">
  <div class="col-12">
    <div class="row">
      <% @recipes.each do |recipe| %>
        <div class="card-group mb-3 col-3">
          <%= link_to admin_recipe_path(recipe.id), { class: "w-100" } do%>
            <div class="card">
              <%= attachment_image_tag recipe, :image, size: "100x230", class: "bd-placeholder-img card-img-top" %>
              <div class="card-body">
                <div class="card-img-overlay ">
                  <i class="far fa-heart">
                  <%="#{recipe.likes.count}" %>
                  </i>
                  <i class="far fa-comment-dots">
                  <%="#{recipe.comments.count}" %>
                  </i>
                </div>
                <h5 class="card-title">
                  <%= recipe.name %>
                </h5>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  
<% else %>
  管理者専用ページです。閲覧するにログインが必要です。
<% end %>