<h1>レシピ新規投稿</h1>

<%= form_with model: @recipe, local:true do |f| %>
  <h4>料理名</h4>
  <%= f.text_field :name %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <h4>材料</h4>
  <%= f.text_area :ingredient %>
  <h4>作り方</h4>
  <%= f.text_area :process %>

  <h4>ジャンル</h4>
   <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |genre| %>
      <%= genre.label do %>
        <%= genre.check_box %>
        <%= genre.text %>
      <% end %>
   <% end %>

  <%= f.submit '投稿' %>

<% end %>
