<h1>レシピ詳細</h1>

  <p>料理名：<%= @recipe.name %></p>
  <%= attachment_image_tag @recipe, :image %>
  <p>材料：<%= @recipe.ingredient %></p>
  <p>作り方：<%= @recipe.process %></p>
  <p>投稿日時：<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>
   
   <% if @recipe.customer == current_customer %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    <%= link_to "Destroy", recipe_path(@recipe), method: :delete %>
  <% end %>
  
<%= link_to "レシピ一覧に戻る", recipes_path %>