<h2>レシピ詳細</h2>

  <p>料理名：<%= @recipe.name %></p>
  <%= attachment_image_tag @recipe, :image %>
  <p>材料：<%= @recipe.ingredient %></p>
  <p>作り方：<%= @recipe.process %></p>
  <p>ジャンル：
      <% @recipe.genres.each do |genre| %>
      <%= genre.name %>
      <% end %>
  </p>
  <p>投稿日時：<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>

  <!--いいね機能記述（非同期通信）-->

   <div id="likes_buttons_<%= @recipe.id %>">
       <%= render "public/likes/like", recipe: @recipe %>

   </div>

   <% if @recipe.customer == current_customer %>
    <%= link_to 'Edit', edit_recipe_path(@recipe) %>
    <%= link_to "Destroy", recipe_path(@recipe), method: :delete %>
  <% end %>


    <div class="comment">
     <%= render partial: "public/comments/comment", locals: { recipes: @recipe }%>
    </div>

<div class="new-comment">
<%= form_with(model:[@recipe, @comment], id: "new-comment") do |f| %>
  <%= f.text_field :comment, rows:'5',placeholder: "コメントをここに", class:"inputComment" %>
  <%= f.submit "送信する" %>
<% end %>
</div>

<%= link_to "レシピ一覧に戻る", recipes_path %>