 <div class="col-xs-12">
    <!--<h2>Recipes search for ''</h2>-->
  <h3>商品一覧</h3>(全<%= @recipes.count %>件)
  
    <% @recipes.each do |recipe| %>
      <div>
      
        <h5>料理名</h5><p><%= recipe.name %></p>
        <h5>IMAGE</h5><p><%= attachment_image_tag recipe, :image, size: "210x150" %></p>
        <%= link_to "レシピ詳細を見る", recipe_path(recipe.id) %>
        <p><%= link_to "#{recipe.comments.count} コメント", recipe_path(recipe.id) %></p>
      
      </div>
    <% end %>
    
