<!DOCTYPE html>

<html>
  <head>
    <title>PFZbrCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header class = "page-header">
      <div class = "wrapper">
      <%= render "layouts/header" %>
      </div>
    </header>
    <div class="header-b">
      <p class="text-center">
        ずぼらの　ずぼらによる　ずぼらのための　ずぼらごはん
      </p>
    </div>
    <main>
      <div class = "container">
       <%= yield %>
      </div>
    </main>

    <footer >
      <div class="text-right text-white inquiry">
        <%= link_to "お問い合わせ", inquiry_path, class: "text right text-white px-5" %>
      </div>
      <p class="text-center pb-4">
      ＠portfolio~2021.08~
      </p>
    </footer>

  </body>
</html>